@use "../../mixins";

@mixin ecom-button-inside($background,$borderColor,$hoverBackground,$activeBackground,$activeBoxShadow,$focusBorderColor,$focusBoxShadow){
  background: $background;
  color: var(--gb-color-black-dark);
  border:1px solid;
  border-color: $borderColor;
  padding: .3em .6em;
  font-size: 14px;
  &:hover{
    background:$hoverBackground;
  }
  &:active{
    box-shadow: $activeBoxShadow;
    background: $activeBackground;
  }
  &:focus{
    border-color: $focusBorderColor;
    box-shadow: $focusBoxShadow}
}
// default-button
.ecom-button{
  @include ecom-button-inside(
    linear-gradient(to bottom,#f7dfa5,#f0c14b),
    #a88734 #9c7e31 #846a29,
    rgba(#f0c14b, .9),
    #f0c14b,
    var(--gb-color-accent-darker),
    0 1px 3px rgb(0 0 0 / 20%),
    0 0 3px 2px rgb(228 121 17 / 50%),
    );
}

// outlined-button
.ecom-outlined-button{
  height: 35px;
  padding: 8px 18px 6px 8px;
  background: transparent;
  border: 1px solid var(--gb-color-gray-light);
  color:var(--gb-color-secondary-dark);
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 400;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.ecom-outlined-button-icon{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: cover!important;
}
.ecom-outlined-button-text{
  margin: 0 .5em;
}

// gray-button

.ecom-gray-button{
  @include ecom-button-inside(
    linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236)),
    #adb1b8 #a2a6ac #8d9096,
    linear-gradient(to bottom,#e7eaf0,#d9dce1),
    var(--gb-color-secondary-dark),
    0 1px 3px rgb(0 0 0 / 20%) inset,
    var(--gb-color-accent-darker),
    0 0 3px 2px rgb(228 121 17 / 50%),
    );
}
