.ecom-text-hr{
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
  h5{
    line-height: 1;
    font-size: 12px;
    color: var(--gb-color-gray);
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: var(--gb-color-secondary-light);
    padding: 0 8px 0 7px;
    margin-top: 5px;
  }
  &::after{
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
  }
}
