.ecom-error-icon{
  width: 20px;
  height: 20px;
  background-image: url("/assets/icons/alert-error.png");
  display: inline-block;
}

.ecom-alert-icon{
  width: 30px;
  height: 27px;
  background-image: url("/assets/icons/alert.png");
  display: inline-block;
}
