<div class="container-fluid m-0 p-2 d-flex flex-column justify-content-center align-items-center ">
  <div class="d-flex flex-column justify-content-center align-items-center" style="width: 350px;">
    <app-logo></app-logo>
    <section class="ecom-alert-block d-none">
      <div class="alert-header">
        <i class="ecom-alert-icon"></i>
        <h5 class="alert-header">There was a problem</h5>
      </div>
      <div class="alert-text">We cannot find an account with that email address</div>
    </section>
    <section class="forgot-body w-100 rounded mt-2 mb-3  d-flex flex-column justify-content-center px-4 py-3">
      <h3 style="margin-left: 3px;">Password assistance</h3>
      <div #emailPart class="forgot-part w-100 d-flex flex-column justify-content-center">
        <p class="forgot-text ms-1">Enter the email address or mobile phone number associated with your account.</p>
        <label class="input-label p-1 fw-bolder" for="email">Email or mobile phone number</label>
        <input class="email-input ecom-input form-control mb-3" [(ngModel)]="email" type="email" name="emailOrPhone" id="email"/>

        <a [routerLink]="['/ForgotPassword']" class="mb-3 w-100">
          <button (click)="showPart(authPart)" class="ecom-button rounded w-100">
            Continue
          </button>
        </a>
      </div>

      <div #authPart class="forgot-part w-100 mt-2 d-flex flex-column justify-content-center d-none">
        <p class="forgot-text ms-1">For your security, we need to authenticate your request. We've sent a One Time Password (OTP) to the email {{email}}. Please enter it below.</p>

        <label class="input-label py-1 mb-1 fw-bolder" for="password">Enter OTP code sended to your email </label>
        <input class="email-input ecom-input form-control mb-3" type="password" name="password" id="password"/>

        <a [routerLink]="['/ForgotPassword']" class="mb-3 w-100">
          <button (click)="showPart(newPasswordPart)" class="ecom-button rounded w-100">Continue</button>
        </a>

        <span class="ecom-link-blue-lighter-hov-accent-darker">Resend OTP</span>
      </div>

      <div #newPasswordPart class="forgot-part w-100 mt-2 d-flex flex-column justify-content-center d-none">
        <p class="forgot-text ms-1">Please enter your new password to be changed below.</p>

        <label class="input-label py-1 fw-bolder" for="newPassword">New password *</label>
        <input class="email-input ecom-input form-control" type="password" name="newPassword" id="newPassword"/>

        <label class="input-label py-1 fw-bolder" for="newPasswordAgain">New password again *</label>
        <input class="email-input ecom-input form-control mb-3" type="password" name="newPasswordAgain" id="newPasswordAgain"/>

        <a [routerLink]="['/ForgotPassword']" class="mb-3 w-100">
          <button (click)="showPart(passwordChanged)" class="ecom-button rounded w-100">Confirm</button>
        </a>
      </div>

      <div #passwordChanged class="forgot-part w-100 mt-2 d-flex flex-column justify-content-center d-none">
        <p class="forgot-text ms-1">Your password changed successfully.</p>

        <a [routerLink]="['/']" class="mb-3 w-100">
          <button  class="ecom-button rounded w-100">Done</button>
        </a>
      </div>

    </section>
  </div>

  <app-login-end class="w-100"></app-login-end>
</div>
