.forgot-body{
  border:1px solid var(--gb-color-secondary-dark);
  font-size: .725rem;
  font-weight: 400;
  .input-label{
    font-size: .825rem;
  }
  .email-text{
    font-size: .875rem;
  }

  .forgot-text{
    font-size: .785rem;
    font-weight: 500;
  }
}

.forgot-end{
  background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);

  .forgot-end-inner{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      pointer-events: none;
      top: 0;
      width: 100%;
      height: 150%;
      background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    }
  }
  .rights{
    font-family: "Montserrat";
    font-size: .625rem;
    color: var(--gb-color-gray-dark);
    font-weight: 500;
  }
}

