<div class="container-fluid m-0 p-2 d-flex flex-column justify-content-center align-items-center ">
  <div class="d-flex flex-column justify-content-center align-items-center" style="width: 350px;">
    <app-logo></app-logo>
    <section class="ecom-alert-block d-none">
      <div class="alert-header">
        <i class="ecom-alert-icon"></i>
        <h5 class="alert-header">There was a problem</h5>
      </div>
      <div class="alert-text">We cannot find an account with that email address</div>
    </section>
    <section class="login-body rounded mt-2 d-flex flex-column justify-content-center px-4 py-3">
      <h3 style="margin-left: 3px;">Sign-In</h3>

      <label class="email-label p-1 fw-bolder" for="email">Email or mobile phone number</label>
      <input class="email-input ecom-input form-control mb-3" type="email" name="emailOrPhone" id="email"/>

      <a [routerLink]="['/Login']" class="mb-3 w-100">
        <button class="ecom-button rounded w-100">
          Continue
        </button>
      </a>

      <span>By continuing, you agree E-Commercial's <a [routerLink]="['/Login']" class="ecom-link-blue-lighter-hov-accent-darker">Conditions of Use</a> and <a [routerLink]="['/Login']" class="ecom-link-blue-lighter-hov-accent-darker">Privacy Notice</a></span>

      <a class="ecom-link-blue-lighter-hov-accent-darker mt-3" [routerLink]="['/Login']">Forgot your password?</a>
    </section>
    <section class="login-footer w-100 mt-3">
      <div class="ecom-text-hr w-100">
        <h5>New to E-Commercial?</h5>
      </div>
      <a [routerLink]="[ '/Login' ]">
        <button class="ecom-gray-button w-100 rounded">Create new account</button>
      </a>
    </section>
  </div>

  <section class="login-end mt-4 w-100">
    <div class="login-end-inner d-flex justify-content-center align-items-center pt-3">
      <a class="ecom-link-blue-lighter-hov-accent-darker mx-3" [routerLink]="[ '/Login' ]">Condition of use</a>
      <a class="ecom-link-blue-lighter-hov-accent-darker mx-3" [routerLink]="[ '/Login' ]">Privacy Notice</a>
      <a class="ecom-link-blue-lighter-hov-accent-darker mx-3" [routerLink]="[ '/Login' ]">Help</a>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <span class="rights">© 1996-2021, ECommercial.com, Inc. or its affiliates</span>
    </div>
  </section>
</div>
