
@import "mixins";
header{
  font-family: "Lato";

  .header-top,.header-bottom,.header-start,.header-middle,.header-end,.header-middle form{
    display: flex;
    flex-direction: row;
  }
  .text-line-container{
    margin-top: 0.9em;
  }
  .text-line-1{
    display: block;
    font-size: 0.75rem;
    line-height: 0.375em;
    color:var(--gb-color-secondary-light);
  }
  .text-line-2{
    color: var(--gb-color-secondary-light);
    font-size: 0.90rem;
    font-weight: 700;
    white-space: nowrap;
    font-family: inherit;
  }
  .nav-item-hover{
    border: 1px solid transparent;
    cursor: pointer;

    &:hover{
      border:1px solid var(--gb-color-secondary);
    }
  }
  .nav-drop-down-icon{
    display: inline-block;
    background-image: url("/assets/icons/header-toggle-down.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
  }
  .header-top{
    min-height: 60px;
    background-color: var(--gb-color-primary);
  }

  .header-start,.header-middle,.header-end{
    padding: 0.3rem;
  }
}// header

.header-start{

  .nav-deliver{
    padding: 0 0.5rem;
    display: flex;

    .location-icon{
      display: inline-block;
      background-image: url("/assets/icons/header-location.png");
      width: 20px;
      height: 20px;
      margin-top: 1.1em;
    }

    .text-line-container{
      padding-left: 0.125rem;
    }

    #deliver-to{
      color: #ccc;
      min-width: 3.5rem;
    }
  }

}//header-start

.header-middle{
  width: 100%;
  min-width: 225px;
  padding-left: 0;
  padding-right: 0;
}//header-middle

.nav-searchbar{
  height:100%;
  position: relative;
  display: flex;
  flex: 1 1 auto;
  white-space: nowrap;
  padding: 0.25rem;

  .nav-search-label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .nav-search-category{
    display: inline-block;
    background-color: var(--gb-color-secondary);
    height: 100%;
    border-radius: 5px 0 0 5px;
    padding: 0.5em;
    color:var(--gb-color-gray-dark);
    border-right:1px solid var(--gb-color-secondary-dark);
    position: relative;
    cursor: pointer;

    i{
      width: 8px;
      height: 8px;
      margin-left:0.6em;
    }

    &:hover{
      background-color: var(--gb-color-secondary-dark);
      color: var(--gb-color-black-dark);

      i{
        background-image: url("/assets/icons/header-toggle-down-dark.png");
      }
    }

    &:focus{
      outline: none;

      @include border-shadow(-3px,1px,6px 0px 0px 6px,var(--gb-color-accent-dark),.4);
      @include border(-2px,3px,5px 0px 0px 5px,var(--gb-color-accent-dark),1);
    }
  }

  .search-form{
    width: 100%;

    form{
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0px;
    }
    input{
      width: 100%;
      border: none;
      outline: none;
      padding: 0.4em;
      font-weight: 400;
    }
    .search-submit{
      height: 100%;
      width: 55px;
    }

    button{
      height: 100%;
      width: 100%;
      border:none;
      position: relative;
      border-radius: 0 5px 5px 0;
      background-color: var(--gb-color-accent-light);
      background-image: url("/assets/icons/search-icon.png");
      background-repeat: no-repeat;
      background-position: center;

      &:hover{
        background-color: var(--gb-color-accent);
      }
      &:focus{
        @include border-shadow(-3px,1px,0px 6px 6px 0px,var(--gb-color-accent-dark),.4);
        @include border(-2px,3px,0px 5px 5px 0px,var(--gb-color-accent-dark),1);
      }
    }
  }//search-form

  &.input-focused{
    outline: none;
    @include border-shadow(1px,1px,6px 6px 6px 6px,var(--gb-color-accent-dark),.4);
    @include border(2px,3px,5px 5px 5px 5px,var(--gb-color-accent-dark),1);
  }
}//nav-searchbar


.header-end{

  .nav-country{
    display: flex;
    padding: 1.25rem 0.5rem 0 0.5rem;

    .country-icon{
      width: 24px;
      height: 18px;
      background-image: url("/assets/icons/flag-tr.png");
    }
    .nav-drop-down-icon{
        margin-left:0.2em;
        margin-top: 0.6em;
    }
  }

  .nav-account{
    padding:0 0.4rem;

    .nav-drop-down-icon{
      margin-left: 0.2em;
    }
  }

  .nav-orders{
    padding: 0 .4rem;
  }

  .nav-cart{
    position: relative;
    display: flex;
    padding: .4rem;

    .cart-count{
      position: absolute;
      left:1.5rem;
      top:0.2rem;
      font-size: 1rem;
      font-weight: 700;
      color:var(--gb-color-accent-dark);
    }
    .cart-icon{
      display: inline-block;
      background-image: url("/assets/icons/cart.png");
      width: 40px;
      height: 28px;
      left:0;
      right:0;
      margin: auto;
    }
    .text-line-2{
      margin-top: 1em;
    }
  }
}// header-end

.header-bottom{
  min-height: 40px;
  align-items: center;
  background-color: var(--gb-color-primary-light);
  color:var(--gb-color-secondary-light);
  padding: .3rem;
  font-size: 0.9rem;
  font-weight: 700;
  overflow: auto;
  .nav-item-hover{
    padding: .3rem .4rem;
  }
  .nav-item{
    width: max-content;
    color:inherit;
    text-decoration: none;
    &:hover{
      color:inherit;
    }
  }

  .header-middle{
    min-width: 440px;
  }

}

.header-start{

  .nav-categories{
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-text{
      margin-left:0.25em;
    }
  }

}
.menu{
  display: flex;
  align-items: flex-end;
  padding: 12px;
}
.header-middle{
  width: 100%;
}

.list-icon{
  display: inline-block;
  background-image: url("/assets/icons/menu.png");
  width: 20px;
  height: 16px;
}

@media screen and (max-width:767.98px)
{
  .header-top{
    flex-wrap: wrap;
    .header-middle{
      order: 1;
    }
  }
}

@media screen and (max-width:550px){
  .header-start,.header-middle,.header-end{
    padding:0!important;
  }
  .header-top{
    justify-content: center;
    .header-middle{
      margin-bottom:5px;
    }
  }
  .header-bottom{
    font-size:.8125rem;
    .list-icon{
      width:14px;
      height:14px;
      background-size:cover;
      margin-top:-1px;
    }
  }
  .header-end{
    width:100%;
    justify-content:center;

    *{
      margin:0 2px;
    }
  }
  .flex-fill{
    display: none;
  }
}

