<header>
  <div class="header-top">
    <div class="header-start">
      <app-logo class="nav-item-hover"></app-logo>
      <div class="nav-deliver nav-item-hover"  data-bs-toggle="modal" data-bs-target="#deliverModal">
          <span class="location-icon"></span>
          <div class="text-line-container">
            <span id="deliver-to" class="text-line-1" >Deliver to</span>
            <span class="text-line-2">Turkey</span>
          </div>
      </div>
    </div>
    <div class="flex-fill"></div>
    <div class="header-middle">
      <div id="searchbar" class="nav-searchbar">
        <div class="dropdown">
          <div class="nav-search-category" id="searchCategory" data-bs-toggle="dropdown" tabindex="0" aria-haspopup="true" aria-expanded="false">
            <span class="nav-search-label"><small (ngModel)="selectedCategory">{{selectedCategory}}</small></span>
            <i class="nav-drop-down-icon"></i>
          </div>
          <div class="dropdown-menu" aria-labelledby="searchCategory">
            <a class="dropdown-item" [routerLink]="[ '/' ]" (click)="clickCategoryDropdownItem($event)">All Departments</a>
            <a class="dropdown-item" [routerLink]="[ '/' ]" (click)="clickCategoryDropdownItem($event)" *ngFor="let category of categories">{{category.name}}</a>
          </div>
        </div>
        <div class="search-form">
          <form #f="ngForm"  (ngSubmit)="searchAction(f)">
            <input type="text" name="header-search" (focus)="searchInputFocus()" (focusout)="searchInputFocusOut()" autocomplete="off"/>
            <div class="search-submit">
              <button type="submit" ></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="header-end mt-1">
      <div>
        <div class="nav-country nav-item-hover h-100" data-bs-toggle="dropdown" id="navCountry" >
          <span class="country-icon"></span>
          <span class="nav-drop-down-icon"></span>
        </div>
        <div class="dropdown-menu nav-country-dropdown" aria-labelledby="navCountry" >
          <div class="d-inline"></div>
          <div class="px-2">
            <span class="text-line-2 me-2">Change Language</span>
          </div>
          <div class="dropdown-divider m-0 my-2"></div>
          <div class="px-3">
            <div class="ecom-radio-group" *ngFor="let lang of languages">
              <input #langRadio class="ecom-radio" type="radio" name="language" id="{{lang.language}}Radio" (change)="langRadioChanged(langRadio)" value="{{lang.code}}" [checked]="choosenLanguage==lang.code">
              <label class="ecom-radio-label" for="{{lang.language}}Radio" >{{lang.language}} - {{lang.code}}</label>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="nav-account nav-item-hover h-100" data-bs-toggle="dropdown" id="navAccount">
          <div class="text-line-container">
            <span class="text-line-1">
              <ng-container *ngIf="logged; else NotLogged;">Hello, {{profileName}}</ng-container>
              <ng-template #NotLogged>Hello, Sign In</ng-template>
            </span>
            <span class="text-line-2">
              Account & Other
              <span class="nav-drop-down-icon"></span>
            </span>
          </div>
        </div>
        <div class="dropdown-menu nav-account-dropdown p-3" aria-labelledby="navAccount">
          <div class="d-inline"></div>
          <div *ngIf="!logged">
            <a [routerLink]="[ '/Login' ]">
              <button class="ecom-button w-100">Sign in</button>
            </a>
            <div class="mt-1">
              <small>New customer? </small><a [routerLink]="[ '/' ]" class="ecom-link-hov-accent">Start here.</a>
            </div>
            <div class="dropdown-divider mb-2 mt-1"></div>
          </div>
          <h2 class="font-weight-bolder">Your Account</h2>
          <a class="ecom-link-gray d-block" [routerLink]="[ '/Account' ]">Account</a>
          <a class="ecom-link-gray d-block" [routerLink]="[ '/']">Orders</a>
          <a class="ecom-link-gray d-block" [routerLink]="[ '/']">Recommendations</a>
          <a class="ecom-link-gray d-block" [routerLink]="[ '/']">Browsing History</a>
          <a class="ecom-link-gray d-block" [routerLink]="[ '/']">Sign out</a>
        </div>
      </div>

      <div class="nav-orders nav-item-hover d-none d-lg-block">
        <div class="text-line-container">
          <span class="text-line-1">
            Returns
          </span>
          <span class="text-line-2">
            & Orders
          </span>
        </div>
      </div>

      <div class="nav-cart nav-item-hover">
        <span class="cart-count">0</span>
        <span class="cart-icon"></span>
        <span class="text-line-2">Cart</span>
      </div>
    </div>
  </div>
  <div class="overflow-hidden" style="height: 50px;box-sizing: content-box;">
    <div class="header-bottom overflow-control">
      <div class="header-start">
        <div class="nav-categories nav-item-hover" data-bs-toggle="offcanvas" data-bs-target="#categoryOffCanvas" role="button" aria-controls="categoryOffCanvas">
          <span class="list-icon" data-bs-toggle="offcanvas" data-bs-target="#categoryOffCanvas" role="button" aria-controls="categoryOffCanvas"></span>
          <span class="nav-text" data-bs-toggle="offcanvas" data-bs-target="#categoryOffCanvas" role="button" aria-controls="categoryOffCanvas">
            Categories
          </span>
        </div>
      </div>
      <div class="header-middle" >
        <a [routerLink]="['/']" draggable="false" class="nav-item nav-item-hover">
          Today's Deals
        </a>
        <a [routerLink]="['/']" draggable="false" class="nav-item nav-item-hover">
          Customer Service
        </a>
        <a [routerLink]="['/']" draggable="false" class="nav-item nav-item-hover">
          Buy Again
        </a>
        <a [routerLink]="['/']" draggable="false" class="nav-item nav-item-hover">
          Gift Cards
        </a>
        <a [routerLink]="['/']" draggable="false" class="nav-item nav-item-hover">
          Sell
        </a>
        <a [routerLink]="['/']" draggable="false" class="nav-item nav-item-hover d-xl-block d-none">
          <span>
            Browsing History
          </span>
          <span class="nav-drop-down-icon"></span>
        </a>
      </div>
      <div class="header-end">
        <a [routerLink]="['/']" draggable="false"  class="nav-item nav-item-hover">
          Protect yoursel with E-Commercial from Covid-19
        </a>
      </div>
    </div>
  </div>

</header>

<div class="offcanvas overflow-hidden offcanvas-start" tabindex="-1" id="categoryOffCanvas" aria-labelledby="categoryOffcanvas">
  <a [routerLink]="[ '/Account' ]" data-bs-dismiss="offcanvas">
    <div class="offcanvas-header">
      <h6 class="m-0 px-3 d-flex align-items-center">
        <i class="fas fa-user-circle fs-3"></i>
        <div class="fs-5">
          <span class="me-1 ms-3">Hello,</span>
          <span *ngIf="logged; else signInSpan">{{profileName}}</span>
        </div>
        <ng-template #signInSpan>
          <span>Sign In</span>
        </ng-template>
      </h6>
    </div>
  </a>
  <div class="fas fa-times fs-4 p-3" data-bs-dismiss="offcanvas" aria-label="Close"></div>

  <div class="offcanvas-body p-0 accordion position-relative" id="categoryList">
    <div class="categories"  *ngFor="let category of categories; let itemIndex=index" >
      <h5 class="fw-bold m-0 p-3 ps-5 user-select-none accordion-button collapsed" data-bs-toggle="collapse" attr.data-bs-target="#collapseCategory{{itemIndex}}" attr.aria-controls="collapseCategory{{itemIndex}}">{{category.name}}</h5>

      <ul class="sub-categories m-0 list-unstyled collapse " id="collapseCategory{{itemIndex}}">
        <li class="sub-category d-flex align-items-center" *ngFor="let subCategory of category.subCategories">
          <a [routerLink]="['/']" class="ps-5 p-2 text-decoration-none flex-grow-1"  data-bs-dismiss="offcanvas">{{subCategory.name}}</a>
          <i (click)="selectSubSubCategories(subCategory)" class="fas fa-angle-right p-3 fs-5"></i>
        </li>
      </ul>
      <div class="dropdown-divider m-0"></div>
    </div>
  </div>

  <div class="offcanvas-body p-0 sub-sub-categories-body w-100 h-100">
    <i (click)="goToCategories()" class="fas fa-angle-left p-3 fs-5 " style="line-height: 1.5;cursor: pointer;"></i>
    <h6 class="fw-bold m-0 p-3 user-select-none d-inline-block">{{selectedSubCategory.name}}</h6>
    <div class="dropdown-divider m-0"></div>
    <ul class="sub-sub-categories m-0 list-unstyled">
      <li class="sub-sub-category d-flex align-items-center p-2" *ngFor="let subSubCategory of selectedSubCategory.subSubCategories">
        <a [routerLink]="['/']" class="ps-5 p-2 text-decoration-none flex-grow-1"  data-bs-dismiss="offcanvas">
          {{subSubCategory}}
        </a>
      </li>
    </ul>
    <div class="dropdown-divider m-0"></div>

  </div>
</div>

<div class="modal fade" id="deliverModal" tabindex="-1" role="dialog" aria-labelledby="deliverModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Choose your location</h5>
      </div>
      <div class="modal-body">
        <p class="body-info"><small>
          Delivery options and delivery speed may vary for different locations
        </small></p>
        <a class="ecom-link" *ngIf="logged; else signInForAddress">Manage address book</a>
        <ng-template #signInForAddress><button class="ecom-button w-100">Sign in to see your addresses</button></ng-template>
        <div class="ecom-text-hr">
          <h5 >or enter a TR zip code</h5>
        </div>
        <form class="form-inline">
          <div class="form-group w-100 justify-content-center">
            <label for="zipCode" class="sr-only">Zip Code</label>
            <input type="number"  class="form-control" id="zipCode"/>
            <div class="w-100"></div>
            <i class="ecom-error-icon"></i>
            <div class="ecom-alert ecom-alert-inline-error">Please enter a valid TR zip code</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="ecom-button" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
<div class="ecom-foreground" aria-labelledby="navCountry"></div>
