<header>
  <div class="header-top">
    <div class="header-start">
      <app-logo class="nav-item-hover"></app-logo>
      <div class="nav-deliver nav-item-hover"  data-toggle="modal" data-target="#deliverModal">
          <span class="location-icon"></span>
          <div class="text-line-container">
            <span id="deliver-to" class="text-line-1" >Deliver to</span>
            <span class="text-line-2">Turkey</span>
          </div>
      </div>
    </div>
    <div class="flex-fill"></div>
    <div class="header-middle">
      <div id="searchbar" class="nav-searchbar">
        <div class="dropdown">
          <div class="nav-search-category" id="searchCategory" data-toggle="dropdown" tabindex="0" aria-haspopup="true" aria-expanded="false">
            <span class="nav-search-label"><small (ngModel)="selectedCategory">{{selectedCategory}}</small></span>
            <i class="nav-drop-down-icon"></i>
          </div>
          <div class="dropdown-menu" aria-labelledby="searchCategory">
            <a class="dropdown-item" [routerLink]="[ '/' ]" (click)="clickCategoryDropdownItem($event)">All Departments</a>
            <a class="dropdown-item" [routerLink]="[ '/' ]" (click)="clickCategoryDropdownItem($event)" *ngFor="let category of categories">{{category}}</a>
          </div>
        </div>
        <div class="search-form">
          <form #f="ngForm"  (ngSubmit)="searchAction(f)">
            <input type="text" name="header-search" (focus)="searchInputFocus()" (focusout)="searchInputFocusOut()" autocomplete="off"/>
            <div class="search-submit">
              <button type="submit" ></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="header-end">
      <div class="nav-country nav-item-hover h-100" data-toggle="dropdown" id="navCountry" >
        <span class="country-icon"></span>
        <span class="nav-drop-down-icon"></span>
      </div>
      <div class="dropdown-menu nav-country-dropdown" aria-labelledby="navCountry" >
        <div class="arrow-up d-inline"></div>
        <div class="px-2">
          <span class="text-line-2 mr-2">Change Language</span>
          <span class="ecom-link">Learn more</span>
        </div>
        <div class="dropdown-divider mx-3"></div>
        <div class="px-3">
          <div class="ecom-radio-group" *ngFor="let lang of languages"><input class="ecom-radio" type="radio" name="language" id="{{lang.language}}Radio" [checked]="lang.code === choosenLanguage ? true : false"><label class="ecom-radio-label" for="{{lang.language}}Radio" >{{lang.language}} - {{lang.code}}</label></div>
        </div>
      </div>

      <div class="nav-account nav-item-hover">
        <div class="text-line-container">
          <span class="text-line-1">
            <ng-container *ngIf="logged; else NotLogged;">Hello, {{profileName}}</ng-container>
            <ng-template #NotLogged>Hello, Sign In</ng-template>
          </span>
          <span class="text-line-2">
            Accounts & Lists
            <span class="nav-drop-down-icon"></span>
          </span>
        </div>
      </div>

      <div class="nav-orders nav-item-hover d-none d-lg-block">
        <div class="text-line-container">
          <span class="text-line-1">
            Returns
          </span>
          <span class="text-line-2">
            & Orders
          </span>
        </div>
      </div>

      <div class="nav-cart nav-item-hover">
        <span class="cart-count">0</span>
        <span class="cart-icon"></span>
        <span class="text-line-2">Cart</span>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="header-start">
      <div class="nav-categories nav-item-hover">
        <span class="list-icon"></span>
        <span class="nav-text">
          Categories
        </span>
      </div>
    </div>
    <div class="header-middle">
      <a [routerLink]="['/']" class="nav-item nav-item-hover">
        Today's Deals
      </a>
      <a [routerLink]="['/']" class="nav-item nav-item-hover">
        Customer Service
      </a>
      <a [routerLink]="['/']" class="nav-item nav-item-hover">
        Buy Again
      </a>
      <a [routerLink]="['/']" class="nav-item nav-item-hover">
        Gift Cards
      </a>
      <a [routerLink]="['/']" class="nav-item nav-item-hover">
        Sell
      </a>
      <a [routerLink]="['/']" class="nav-item nav-item-hover d-xl-block d-none">
        <span>
          Browsing History
        </span>
        <span class="nav-drop-down-icon"></span>
      </a>
    </div>
    <div class="header-end">
      <a [routerLink]="['/']" class="nav-item nav-item-hover">
        Protect yoursel with E-Commercial from Covid-19
      </a>
    </div>
  </div>
</header>
