<app-header></app-header>

<div class="home-body container-fluid">
  <section id="slider">
    <div id="sliderControl" class="carousel slide"  data-ride="carousel">
      <a [routerLink]="['/']">
        <div class="carousel-inner">
          <div class="carousel-item h-100 active">
            <img src="/assets/images/slide-1.jpg" class="d-block w-100 h-100" alt="...">
          </div>
          <div class="carousel-item h-100">
            <img src="/assets/images/slide-2.jpg" class="d-block w-100 h-100" alt="...">
          </div>
          <div class="carousel-item h-100">
            <img src="/assets/images/slide-3.jpg" class="d-block w-100 h-100" alt="...">
          </div>
          <div class="carousel-item h-100">
            <img src="/assets/images/slide-4.jpg" class="d-block w-100 h-100" alt="...">
          </div>
          <div class="carousel-item h-100">
            <img src="/assets/images/slide-5.jpg" class="d-block w-100 h-100" alt="...">
          </div>
        </div>
      </a>
      <button class="carousel-control-prev" type="button" data-target="#sliderControl"  data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="d-none" aria-label="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#sliderControl"  data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="d-none" aria-label="sr-only">Next</span>
      </button>
    </div>
  </section>

  <section id="products">
    <div class="info text-center"> You are on ecommercial.com. You can shop millions of products with fast delivery.</div>
    <div class="card-layout">
      <div class="cardbox" *ngFor="let item of topItems;let lastItem=last">
        <h2>{{item.header}}</h2>
        <a [routerLink]="[item.link]">
          <img src="{{item.imgUrl}}" class="card-img" alt="{{item.imgAlt}}" *ngIf="!lastItem">
        </a>
        <div class="divided-layout" *ngIf="lastItem">
          <a class="divided-images" [routerLink]="[dividedItem.link]" *ngFor="let dividedItem of item.dividedList">
            <img class="divided-image img-fluid" src="{{dividedItem.imgUrl}}" alt="{{dividedItem.imgAlt}}"/>
            <div class="divided-text">{{dividedItem.text}}</div>
          </a>
        </div>
        <a class="ecom-link mt-3" *ngIf="!lastItem" [routerLink]="[item.link]">{{item.linkText}}</a>
        <a class="ecom-link mt-3 box-link-disabled" *ngIf="lastItem">{{item.linkText}}</a>
      </div>
    </div>
    <hr class="box-break">
    <ng-container *ngFor="let item of fromDiscover;let lastItem=last">
      <div class="horizontal-box">
        <h2>{{item.header}}</h2><a class="ecom-link ml-sm-3 d-block d-sm-inline-block" [routerLink]="[item.link]">{{item.linkText}}</a>
        <div class="image-layout">
          <div class="overflow-control">
            <a [routerLink]="[product.link]" *ngFor="let product of item.products">
              <img src="{{product.imgUrl}}" alt="{{product.imgAlt}}">
            </a>
            <button class="horizontal-box-left" tabindex="-1"><span class="products-left-icon"></span></button>
            <button class="horizontal-box-right" tabindex="-1"><span class="products-right-icon"></span></button>
          </div>
        </div>
      </div>
      <hr class="box-break" *ngIf="!lastItem">
    </ng-container>

    <div class="card-layout">
      <div class="cardbox" *ngFor="let item of afterDiscover; let firstItem=first">
        <h2>{{item.header}}</h2>
        <a [routerLink]="[item.link]">
          <img src="{{item.imgUrl}}" class="card-img" alt="{{item.imgAlt}}" *ngIf="!firstItem">
        </a>
        <div class="divided-layout" *ngIf="firstItem">
          <a class="divided-images" [routerLink]="[dividedItem.link]" *ngFor="let dividedItem of item.dividedList">
            <img class="divided-image img-fluid" src="{{dividedItem.imgUrl}}" alt="{{dividedItem.imgAlt}}"/>
            <div class="divided-text">{{dividedItem.text}}</div>
          </a>
        </div>
        <a class="ecom-link" *ngIf="!firstItem" [routerLink]="[item.link]">{{item.linkText}}</a>
        <a class="ecom-link box-link-disabled" *ngIf="firstItem">{{item.linkText}}</a>
      </div>
    </div>

    <hr class="box-break">
    <ng-container *ngFor="let item of beforeBottom; let lastItem=last">
      <div class="horizontal-box">
        <h2>{{item.header}}</h2><a class="ecom-link ml-sm-3 d-block d-sm-inline-block" [routerLink]="[item.link]">{{item.linkText}}</a>
        <div class="image-layout">
          <div class="overflow-control">
            <a [routerLink]="[product.link]" *ngFor="let product of item.products">
              <img src="{{product.imgUrl}}" alt="{{product.imgAlt}}">
            </a>
            <button class="horizontal-box-left" tabindex="-1"><span class="products-left-icon"></span></button>
            <button class="horizontal-box-right" tabindex="-1"><span class="products-right-icon"></span></button>
          </div>
        </div>
      </div>
      <hr class="box-break" *ngIf="!lastItem">
    </ng-container>
  </section>

  <div class="last-box horizontal-box container-fluid text-center">
    <hr/>
    <h2>Inspired by your browsing history</h2>
    <div class="image-layout">
      <div class="overflow-control">
        <a [routerLink]="[product.link]" *ngFor="let product of lastboxProducts">
          <img src="{{product.imgUrl}}" alt="{{product.imgAlt}}">
        </a>
      </div>
      <button class="horizontal-box-left" tabindex="-1"><span class="products-left-icon"></span></button>
      <button class="horizontal-box-right" tabindex="-1"><span class="products-right-icon"></span></button>
    </div>
  </div>
</div>


<div class="modal fade" id="deliverModal" tabindex="-1" role="dialog" aria-labelledby="deliverModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Choose your location</h5>
      </div>
      <div class="modal-body">
        <p class="body-info"><small>
          Delivery options and delivery speed may vary for different locations
        </small></p>
        <a class="ecom-link" *ngIf="logged; else signInForAddress">Manage address book</a>
        <ng-template #signInForAddress><button class="ecom-default-button w-100">Sign in to see your addresses</button></ng-template>
        <div class="ecom-text-hr">
          <h5 >or enter a TR zip code</h5>
        </div>
        <form class="form-inline">
          <div class="form-group w-100 justify-content-center">
            <label for="zipCode" class="sr-only">Zip Code</label>
            <input type="number"  class="form-control" id="zipCode"/>
            <div class="w-100"></div>
            <i class="ecom-alert-icon-error"></i>
            <div class="ecom-alert ecom-alert-inline-error">Please enter a valid TR zip code</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="ecom-default-button" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<div class="ecom-foreground" aria-labelledby="navCountry"></div>
