<app-header></app-header>

<div class="home-body container-fluid">
  <section id="slider">
    <div id="sliderControl" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/images/placeholder.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/placeholder.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/placeholder.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#sliderControl"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden" aria-label="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#sliderControl"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden" aria-label="sr-only">Next</span>
      </button>
    </div>
  </section>

  <section id="products">
    <div class="info"> You are on ecommercial.com. You can shop millions of products with fast delivery.</div>

    <div class="cardbox" *ngFor="let item of topItems">
      <h2>{{item.header}}</h2>
      <img src="/assets/images/placeholder.png" alt="Placeholder">
      <a [routerLink]="['/']">{{item.link}}</a>
    </div>

    <div class="horizontal-box" *ngFor="let item of fromDiscover">
      <h2>{{item.header}}</h2><a href="">{{item.link}}</a>
      <div>
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <button class="horizontal-box-left"></button>
        <button class="horizontal-box-right"></button>
      </div>
    </div>

    <div class="cardbox" *ngFor="let item of afterDiscover">
      <h2>{{item.header}}</h2>
      <img src="/assets/images/placeholder.png" alt="Placeholder">
      <a [routerLink]="['/']">{{item.link}}</a>
    </div>

    <div class="horizontal-box" *ngFor="let item of beforeBottom">
      <h2>{{item.header}}</h2><a href="">{{item.link}}</a>
      <div>
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <button class="horizontal-box-left"></button>
        <button class="horizontal-box-right"></button>
      </div>
    </div>

    <div class="last-box horizontal-box">
      <hr/>
      <h2>Inspired by your browsing history</h2>
      <div>
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <img src="/assets/images/placeholder.png" alt="">
        <button class="horizontal-box-left"></button>
        <button class="horizontal-box-right"></button>
      </div>
    </div>
  </section>
  <div class="back-top">Back To Top</div>
</div>

<app-footer></app-footer>
