<section class="login-end mt-4">
  <div class="login-end-inner d-flex justify-content-center align-items-center pt-3">
    <a class="ecom-link-blue-lighter-hov-accent-darker mx-3" [routerLink]="[ '/' ]">Condition of use</a>
    <a class="ecom-link-blue-lighter-hov-accent-darker mx-3" [routerLink]="[ '/' ]">Privacy Notice</a>
    <a class="ecom-link-blue-lighter-hov-accent-darker mx-3" [routerLink]="[ '/' ]">Help</a>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <span class="rights">© 1996-2021, ECommercial.com, Inc. or its affiliates</span>
  </div>
</section>
