/* Global Variables */
:root{
  //COLOR VARIABLES
  --gb-color-primary:#131921;
  --gb-color-primary-light:#222F3F;
  --gb-color-secondary-light:#FFF;
  --gb-color-secondary:#F2F2F2;
  --gb-color-secondary-dark:#E6E6E6;
  --gb-color-accent-dark: #F90;
  --gb-color-accent-light: #febd69;
  --gb-color-accent:#f3a847;
  --gb-color-gray:#879596;
  --gb-color-gray-light:#999;
  --gb-color-gray-dark:#555;
  --gb-color-black-light:#444;
  --gb-color-black:#333333;
  --gb-color-black-dark: #111111;
  --gb-color-green:#99cc33;
  --gb-color-green-dark:#067D62;
  --gb-color-red-light:#FA603C;
  --gb-color-red:#CC1C39;
  --gb-color-blue-light:#1196AB;
  --gb-color-blue:#057D94;
  --gb-color-blue-lighter:#2492C2;
  --gb-color-blue-dark:#007185;

}

/* Sass Variables */
